* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  color: rgb(212, 142, 142);
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    width: 576px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

#nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(212, 142, 142);
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
#navlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.list_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search_icon {
  width: 20px;
  height: 20px;
}
#profile_icon {
  width: 20px;
  height: 20px;
}
#dm_icon {
  width: 30px;
  height: 30px;
}
#setting_icon {
  width: 30px;
  height: 30px;
}
.search_input {
  border-radius: 15px;
}
/*Navbar*/
#main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
}
#sidebar_left {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 10px;
}
form {
  margin-bottom: 20px;
}
#pers_info {
  margin-bottom: 10px;
}
#info {
  border: 1px solid black;
  border-radius: 5px;
}
.form_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}
.info_input {
  width: 70%;
  height: 100%;
}
#sub {
  text-align: center;
}
#sub_btn {
  padding: 0px 10px;
}
.list_items_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(212, 142, 142);
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.logo_left {
  width: 20px;
  height: 20px;
}
/*Sidebar Left*/
#center {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
h1 {
  margin-bottom: 10px;
}
.card_items {
  border: 1px solid black;
  height: 180px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first {
  height: 140px;
}
.your_minde {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px 0px 10px;
}
#first_title {
  background-color: black;
  color: white;
}

#post {
  width: 25%;
  align-self: flex-end;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
}

.first_part {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.part2 {
  height: 80%;
}
.part3 {
  height: 10%;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  width: 20px;
  height: 20px;
}
.msg {
  width: 100%;
  height: 100%;
}
.seconde_part {
  background-color: rgb(212, 142, 142);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_photo {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}
.search {
  width: 150%;
  border-radius: 0px;
}
.camera {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
/*Center*/

#sidebar_right {
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
  padding-right: 10px;
}
#content {
  margin-bottom: 10px;
}
.description {
  margin-bottom: 30px;
}
.list_side {
  width: 100%;
}
.fav_lang {
  margin-bottom: 10px;
}
.list_items_right {
  border: 1px solid black;
  background-color: black;
  color: rgb(212, 142, 142);
  padding: 5px;
  margin-bottom: 10px;
  list-style: none;
}
.test {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logo_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(212, 142, 142);
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-bottom: 10px;
}
.logo {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
}
/*Right Side*/

#footer {
  background-color: rgb(212, 142, 142);
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: white;
}
#copy {
  padding: 10px 0px;
}
/*Footer*/
